body {
  background-color: rgb(35, 83, 102);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  background-color: rgb(79, 155, 185);
  width: 80%;
  height: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#collisionCanvas {
  opacity: 0;
}
